.contributePageSummary {
  margin: auto;
  max-width: 1048px;
  text-align: center;
  padding: 0px;
}

.contributeBoxSummary {
  display: inline-block;
  background: var(--panel-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: var(--panel-box-shadow);
  text-align: left;
  vertical-align: top;
  margin: 10px;
  padding: 15px;
}

.contributeBoxSummary table td {
  text-align: left;
  padding: 3px;
  vertical-align: middle;
  padding-bottom: 7px;
}

.contributeButton {
  background: var(--button-background);
  box-shadow: var(--button-box-shadow);
  border: none;
  border-radius: 2px;
  color: var(--button-text-color);
  /*font-weight: bold;*/
  margin: 5px;
  padding: 11px;
  font-size: 12pt;
  cursor: pointer;
  table-layout: fixed;
  width: 100%;

}

.contributeButton:hover {
  background: var(--button-hover-background);
}
.contributeButton:active {
  background: var(--button-active-background);
  box-shadow: var(--button-box-shadow);
}
.contributeButton:disabled {
  background: var(--button-disabled-background);
  cursor: default;
}
.contributeButton:focus {
  outline: none;
}



