html {
    scroll-behavior: smooth;
}
.is-180x180 {
    height: 180px;
    width: 180px;
}

.has-bg-image {
    background-image: url("../assets/120772474_3139540936175205_1445840000236724289_n.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bulma-image {
    width: 200px;
}

.summary-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}

body {
    margin: 0;
    background-color: #1d1d1e;
}

* {
    outline: none;
}