.provideToggler {
    display: block;
    margin: 0 0 0 100px;
    position: relative;
    z-index: 9999;
}
.provideToggler ul {
    font-size: 13px;
    list-style: square;
    padding-left: 0;
}
.provideToggler li {
    position: relative;
    margin-top: 8px;
    padding: 3px;
}