// sliding in an overlay with text when mouse moves
// over it and the overlay hides when mouse leave.
.box-container-mp3 {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../assets/cover-mp3.png");
  position: absolute;
  left: -70%;
  color: white;
  overflow: hidden;
  transition: left 0.6s;
  height: 100%;
  top: 0;
  pointer-events: none;
  }

.clickBox-mp3 {
  pointer-events: auto;
  display: table;
  width: 85px;
  height: 120px;
  background: transperant;
  right: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
 }

.box-content-mp3 {
   width: 67%;
   height: 100%;
}

.hovered-mp3 {
  left: 0%;
}

.text-group-mp3 {
  margin: 20% auto;
  text-align: center;
  font-size: larger;
}

.btn-group-mp3 {
  padding: 10px;
}

.btn-group-mp3 button {
  background-color: #4CAF50;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.btn-group-mp3 button:hover {
  background-color: #3e8e41;
}

.btn-group-mp3 button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

