.profilePageAuthenticated {
  margin: auto;
  max-width: 1048px;
  text-align: center;
  padding: 0px;
}

.profileBoxChangeNameAuthenticated {
  display: inline-block;
  background: var(--panel-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: var(--panel-box-shadow);
  text-align: left;
  vertical-align: top;
  margin: 10px;
  padding: 15px;
}

.profileAuthenticated {
  display: inline-block;
  font-size: 9pt;
  padding-bottom: 20px;
  padding-top: 20px;
}

.profileAuthenticated table td {
  text-align: left;
  padding: 3px;
}